@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;  
    
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

form {
    display: inline-block;
}

.input {
    margin: auto;
    overflow: hidden;
    padding: 1em 2em;
    text-align: center;
    border: solid 2px lightgray;
    border-bottom: none;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: rgb(240,240,240);
    width: 20em;
}

.todolist {
    margin: auto;
    padding: 1.5em 2em;
    overflow:hidden;
    border: solid 2px lightgray;
    border-top: none;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 20em;
    background-color: rgb(255,255,255);   
}

.list {
    margin: 0;
    padding:0;
    text-decoration: none;
    list-style-type: none;
}

.add {
    margin: 0;
    padding: .7em;
    width: 4.5em;
    border: none;
    text-align: center;
    float: right;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    background-color: gray;
    -webkit-transition: width 2s;
}

.add:hover{
    background-color: darkgray;
}

.input-field {
    margin: 0;
    padding: .5em;
    width: 18em;
    float: left;
}

.label {
    display: block;
}

.remove {
    margin: 0;
    padding: .5em;
    width: 2em;
    height: 3em;
    background-image: url();
    float: right;
    text-align: center;
    -webkit-transition: width 2s;
}

.complete {
    text-decoration: line-through;
    color: gray;
}